body{
  margin: 0;
  background-color: #f0f3f5;
}

navline {
    border: none;         
    height: 2px;   
   /* width: 100%;*/
  /*  margin: 20px auto;     Center the line and add vertical space */
    background-color:#0e1030;
}

nav{
  float:right; /*push nav to right side*/
  text-align: center;
}
nav a {
  padding: 20px;
    margin: 0 8px; /* Spacing between links */
    display: inline-block;
    text-decoration: none;
    color: #000;
}

nav a:hover, /* Hover effect on text color */
nav a.active { /* Active link text color */
    color:#093A6B; /* Color for the active link */
}

.dropdown-content {
  display: none;
 
  background-color: #093A6B;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
