body{
  margin: 0;
  background-color: #f0f3f5;
}

navline {
    border: none;         
    height: 2px;   
   /* width: 100%;*/
  /*  margin: 20px auto;     Center the line and add vertical space */
    background-color:#0e1030;
}

nav{
  float:right; /*push nav to right side*/
  text-align: center;
}
nav a {
  padding: 20px;
    margin: 0 8px; /* Spacing between links */
    display: inline-block;
    text-decoration: none;
    color: #000;
}

nav a:hover, /* Hover effect on text color */
nav a.active { /* Active link text color */
    color:#71b4f0; /* Color for the active link */
}
